
html{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    max-height: 65px;
    flex: 1;
    background-color: #001861;
}

h1{
    color: white;
    margin-top: 10px;
}

.main{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

}

#sketch-container{
    max-width: 384px;
    max-height: 384px;
    color: #001861;
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;
}

.square{
    margin:0;
    height: 24px;
    width: 24px;
}

.square:hover{
    background-color: #001861;
}
.footer{
    max-height: 50px;
    flex: 1;
    background-color: #001861;
    align-items: center;
}